body {
    
}
ul, li, ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
table {
    table-layout: fixed;
    background-color: #F7F4F4;
    border-collapse:collapse;
    text-align: center;
    font-size: 10px;
}


.hide {display: none !important;}

.id {width: 15em;}

.disable {display: none;}
.btn {
    cursor: pointer;
    border-radius: 2px;
    border: 1px outset gray;
    background-color: #ECBFBF;
}
.btn:hover {
    background-color: #FD6A6A;
}

.序号, .页码 {width: 2em}
.文件类型, .收文时间, .状态, .存放地点, .主送部门, .归属包号 {width: 4em}
.是否需要回复 {width: 3em}
.监理回复日期, .设计回复日期, .业主回复日期 {width: 4em}
.文件编号, .文件名称, .发文单位, .收文单位, .抄送单位, .备注 {width: 6em}
